:root {
  --max-width: 1200px;
  --padding: 50px;
  --section1-background-color: #E7E7E7; 
  --section1-text-color: #1E1E1E; 
  --font-family: 'Wittgenstein', sans-serif;
  --font-size-base: 16px;
  --font-size-xlarge1: 60px;
  --border-radius: 5px;
  --button-padding: 10px 50px;
  --button-border-color: #1E1E1E;
  --button-background-color: #1E1E1E;
  --button-text-color: white;
  --button-font-weight: bold;
  --transition-duration: 0.3s;
  --gap: 70px;
}

body {
  font-family: var(--font-family);
  color: var(--section1-text-color);
}

.section1 {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--padding);
  background-color: var(--section1-background-color);
}

.section1 .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.section1 .navigation ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: var(--gap);
}

.navigation-item.bold-home {
  font-weight: bold;
  color: var(--section1-text-color);
  font-size: var(--font-size-base);
}

.section1 .navigation ul li {
  margin-right: 15px;
}

.section1 .navigation ul li:last-child {
  margin-right: 0;
}

.section1 .navigation ul li a {
  text-decoration: none;
  font-size: var(--font-size-base);
  transition: color var(--transition-duration) ease;
  color: var(--section1-text-color);
}

.section1 .navigation ul li a:hover {
  color: var(--section1-text-color);
}

.section1 .navigation .contact-button {
  background-color: transparent;
  border-radius: var(--border-radius);
  border: solid 3px var(--button-border-color);
  padding: var(--button-padding);
  font-size: var(--font-size-base);
  cursor: pointer;
  font-weight: var(--button-font-weight);
}

.reserve-button {
  background-color: var(--button-background-color);
  padding: var(--button-padding);
  border: none;
  border-radius: 5px;
  color: var(--button-text-color);
  font-size: var(--font-size-large);
  font-weight: var(--button-font-weight);
  cursor: pointer;
}

.section1 .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: auto 0;
  padding: 25px;
}

.section1 .content .text-content {
  flex: 1;
  text-align: left;
}

.section1 .content .text-content h1 {
  font-size: var(--font-size-xlarge1);
  margin-bottom: 2px;
  color: #333;
  font-weight: 900;
}

.section1 .content .text-content p {
  line-height: 1.6;
  color: #333;
}

.section1 .content .image-content {
  flex: 1;
  text-align: center;
}

.section1 .content .image-content img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  padding: 5px;
}
